@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 20px;
  }

  @media (max-width: 768px) {
    html {
      font-size: 18px;
    }
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.dropdown-enter {
  animation: fadeInDown 0.3s ease-out forwards;
}

.dropdown-exit {
  animation: fadeOutUp 0.3s ease-out forwards;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
